ClientServerProtoSample/java/pb-server/WebContent/wsdl/ApiSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.delta.io/Api/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Api" targetNamespace="http://www.delta.io/Api/">
	<wsdl:types>
		<xsd:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://www.delta.io/Api/">
			<xsd:element name="searchCitiesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="in" nillable="false" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchCitiesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="out" nillable="false" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="searchCitiesRequest">
		<wsdl:part element="tns:searchCitiesRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="searchCitiesResponse">
		<wsdl:part element="tns:searchCitiesResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Api">
		<wsdl:operation name="searchCities">
			<wsdl:input message="tns:searchCitiesRequest">
			</wsdl:input>
			<wsdl:output message="tns:searchCitiesResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ApiSOAP" type="tns:Api">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="searchCities">
			<soap:operation soapAction="http://www.delta.io/Api/searchCities"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Api">
		<wsdl:port binding="tns:ApiSOAP" name="ApiSOAP">
			<soap:address location="http://localhost:8080/pb-server/services/ApiSOAP"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
