ClientServerProtoSample/java/pb-server/WebContent/Api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Api" targetNamespace="http://www.delta.io/Api/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.delta.io/Api/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.delta.io/Api/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
			<xsd:element name="searchCitiesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="in" nillable="false" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchCitiesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="out" nillable="false" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="searchCitiesRequest">
    <wsdl:part name="parameters" element="tns:searchCitiesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchCitiesResponse">
    <wsdl:part name="parameters" element="tns:searchCitiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Api">
    <wsdl:operation name="searchCities">
      <wsdl:input message="tns:searchCitiesRequest">
    </wsdl:input>
      <wsdl:output message="tns:searchCitiesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApiSOAP" type="tns:Api">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchCities">
      <soap:operation soapAction="http://www.delta.io/Api/searchCities"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Api">
    <wsdl:port name="ApiSOAP" binding="tns:ApiSOAP">
      <soap:address location="http://localhost:8080/pb-server/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
